body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(0deg, rgba(61,61,61,1) 0%, rgba(37,37,37,1) 100%);
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icon {
    margin-bottom: 10px;
}

p, h2{
    color: white;
}

.card {
    text-decoration: none;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 10px 20px 10px;
    padding: 20px;
    text-align: center;
}

.card-disabled {
    background-color: #a2a2a2;
}

.title {
    margin: 0;
    color: #333;
}

@media (max-width: 600px) {
    .flex {
        flex-direction: column;
        align-items: stretch;
    }

    .card {
        margin-left: 0;
        margin-right: 0;
    }
}